:root {
    --main-text-color: #000000;
    --secondary-text-color: #333333;
    --third-text-color: #ffffff;

    --interactive-link: #0050B2;
    --secondary-background:rgba(63, 169, 245, 0.07);
    --secondary-background-border:rgba(63, 169, 245, 0.2);

    --accent-color: #0061d9;
    --accent-text: #0050b2;


    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'PT Sarif', serif;

    --card-set-gap: 32px;
}

body {
    font-family: var(--main-font-family);
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    /* height: auto; */
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1150px;
    padding: 0 15px ;
    margin-left: auto;
    margin-right: auto;
}

/* Шапка сайта */
.header {
    position: relative;
    background-color:rgba(168, 213, 235, 0.7);
}

.header::before {
    content: '';
    position: absolute;
    top: 81px;
    display: block;
    width: 100%;
    height: 1px;

    background-color: #d9d9De;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo-link {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 20px;
    padding: 13px 0 14px;
}

.header-logo-text {
    margin-right: 178px;
}

.header-title {
    margin-bottom: 1px;
    font-family: var(--secondary-font-family);
    font-size: 20px;
    line-height: 1.3;
    
    color: var(--third-text-color);
}

.header-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;

    color: var(--third-text-color);
}

.contacts-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts {
    display: flex;
}

.contacts-link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    color: var(--third-text-color);
}

.contacts-link.tel {
    margin-right: 33px;
}

.contacts-link.mail {
    margin-right: 45px;
}

.contacts-link:hover, .contacts-link:focus {
    color: var(--accent-color);
}

.contacts-icon {
    margin-right: 12px;

    fill: rgba(255, 255, 255, 0.8);
}
.contacts-link:hover .contacts-icon, 
.contacts-link:focus .contacts-icon{
    fill: var(--accent-color);
}

.header-button {
    width: 186px;
    height: 44px;

    color: var(--third-text-color);
    background-color: transparent;    

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;

    cursor: pointer;
}

.header-button:hover, .header-button:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* Навигация */

.header-nav {

}

.header-nav-list {
    display: flex;
}

.header-nav-item:not(:last-child) {
    margin-right: 32px;
}

.header-nav-link {
    display: block;
    padding: 20px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    color: var(--third-text-color);
}

/* Подобрать тур */
.categories {
    padding-top: 48px; 
    padding-bottom: 64px;   

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.tours {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.tours > .categories-list-items {
    flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.categories-list-items {
    width: 256px;
    border-radius: 6px;
    border: 1px solid #D9D9DE;
    overflow: hidden;
}

.categories-list-items h3 {
    margin: 0;
    padding: 13px 19px 16px;
}

.categories-link {
    color: var(--main-text-color);
}

/* Direction */
.direction {
    padding-top: 44px;
    padding-bottom: 80px;
    background-color: rgba(112, 207, 41, 0.07);
}

.direction-title {
    margin-bottom: 50px;

    font-size: 30px;
    line-height: 1.3;
    text-align: center;

    color:  var(--main-text-color);
}

.direction-text {
    font-size: 16px;
    line-height: 1.3;

    color: var(--secondary-text-color);
}

.direction-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 37px;
}


/* Фотогалерея */
.photogallery-section {
    padding-bottom: 80px;

    background-color: var(--secondary-background);
}

.photogallery-topbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photogallery-title {
    display: flex;
    margin: 0;
    font-family: PT Serif;
    font-size: 30px;
    line-height: 1.3;
}

.photogallery-box {
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 52px;
} 

.photogallery-link {
    display: flex;

    font-size: 16px;
    line-height: 1.187;
    text-decoration-line: underline;
    color: var(--interactive-link);
}

.photogallery-button-list {
    display: flex;
    margin-left: 55px;
}

.photogallery-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-color: var(--interactive-link);
}

.photogallery-button-list li:not(:last-child) {
    margin-right: 16px;
}

.photogallery-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.photogallery-card > .photogallery-card-items {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.photogallery-cover {
    position: relative;
    width: 352px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-background-border);
    border-radius: 6px 30px 6px 30px;
}

.photogallery-cover img {
    border-radius: 6px 30px 6px 30px;
}

.photogallery-cover::after {
    content: '';
    position: absolute;
    width: 326px;
    height: 227px;

    border: 1px dashed rgba(63, 169, 245, 0.7);
    border-radius: 6px 30px 6px 30px;

    animation-name: motion;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.photogallery-cover:hover:after {
    border: 2px dashed rgba(63, 169, 245, 1);
}

@keyframes motion{
    0% {
        border-style: dotted;
    }
    100% {
        border-style: dashed;
    }
}